* {
    margin: 0px;
  }
  
  nav {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .navbar-image {
    width: 160px;
  }
  
  .searchbar-container {
    display: flex;
    margin: 0px 10px;
    padding: 0;
    align-items: center;
    flex: 1;
    align-items: stretch;
  }
  
  .searchbar {
    background: white;
    padding-right: 20px;
    flex: 1;
  }
  
  .searchbar input {
    padding: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    border: none;
    width: 100%;
  }
  
  .searchbar input:focus {
    outline: none;
  }
  
  .searchbar-btn button {
    background-color: #363636;
    border: none;
    border-radius: 10px;
    height: 100%;
    color: white;
    padding: 10px 12px;
    margin-left: 20px;
  }
  
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .pokedex-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 18px;
    padding: 0px 10px 20px 10px;
  }
  
  @media screen and (max-width: 992px) {
    .pokedex-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (max-width: 600px) {
    .pokedex-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  
  .pokemon-card {
    display: flex;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
  }
  
  .pokemon-img-container {
    padding: 0px 5px;
  }
  
  .pokemon-img {
    width: 70px;
    height: 70px;
  }
  
  .pokemon-type {
    display: flex;
    /* border: 1px solid blue; */
    color: black;
  }
  
  .pokemon-type-text {
    margin-right: 10px;
    text-transform: capitalize;
    border-radius: 5px;
    width: 70px;
    padding: 4px;
    text-align: center;

  }

  
   /* .pokemon-type {
    display: flex;
  } */
  /* .
  .pokemon-type-text {
    margin-right: 10px;
    text-transform: capitalize;
  } */

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
    flex: 1;
  }
  
  .card-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .card-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .card-top h3 {
    text-transform: capitalize;
  }
  
  .pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .App {
    font-family: sans-serif;
  }
  
  .icon {
    width: 28px;
    height: 28px;
  }
  
  .pagination-btn {
    background-color: black;
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin: 0px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .pokemon-heart-btn {
    border: none;
    background-color: #f0f0f0;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .not-found-text {
    text-align: center;
    font-size: 1.25rem;
    padding: 20px;
  }
  
  footer {
    font-family: inherit;
    background-color: #1a120f;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 1.1rem;
  }
  footer a {
    color: #e58112;
    text-decoration: none;
  }
  
  .grass {
    background-color: #9bcc50;
  }

  .poison {
    background-color: #b97fc9;
  }

  .fire{
    background-color: #fd7d24;
  }

  .water {
    background-color: #4592c4;
  }

  .flying {
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background-color: #3dc7ef;
  }

  .bug {
    background-color: #729f3f;
  }

  .normal {
    background-color: #a4acaf;
  }

  .electric {
    background-color: #eed535;
  }

  .ground {
    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background-color: #f7de3f;
  }

  .fairy {
    background: linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);
    background-color: #fdb9e9;
  }

  .fighting {
    background: linear-gradient(180deg, #d56723 50%, #d56723 50%);
    background-color: #d56723;
  }

  .psychic {
    background: linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
    background-color: #f366b9;
  }

  .rock {
    background: linear-gradient(180deg, #a38c21 50%, #a38c21 50%);
    background-color: #a38c21;
  }

  .steel {
    background-color: #9eb7b8;
    color: #212121;
  }

  .ice {
    background: linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);
    background-color: #51c4e7;
  }

  .ghost {
    background: linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);
    background-color: #7b62a3;
  }

  .dragon {
    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background-color: #53a4cf;
  }

  .dark {
    background: linear-gradient(180deg, #707070 50%, #707070 50%);
    background-color: #707070;
  }